<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        #parse("snippets/reportAdminHead.vm")
        <script type="text/javascript">
            function submitLogoContainer(value) {
                if($("form[name='frmLogoContainer'] input[name='startDate']").length)
                    $("form[name='frmLogoContainer'] input[name='startDate']").val($("form[name='frmLogoContainer'] input[name='txtStartDate']").val());
                if($("form[name='frmLogoContainer'] input[name='endDate']").length)
                    $("form[name='frmLogoContainer'] input[name='endDate']").val($("form[name='frmLogoContainer'] input[name='txtEndDate']").val());
                $("form[name='frmLogoContainer'] input[name='method']").val(value);

                $("form[name='frmLogoContainer']").submit();
            }
        </script>
        <link rel="stylesheet" type="text/css" href="brands/default/en/css/datepicker.css"/>
        <script type="text/javascript" src="javascript/ui.datepicker.js"></script>
    </head>
    <body>
        <form name="frmLogoContainer" action="adm_ManageReports.do" method="POST">
        #set($currentReport=$reportForm.getCurrentReport())
        <table id="table-layout" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td id="header" colspan="2">
                   #if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
                       #parse("snippets/adminHeader.vm")
                   #else
                       #parse("snippets/managerHeader.vm")
                   #end  
                </td>
            </tr>
            <!-- <TABS> -->
            <tr id="row-tabs">
                <td id="blank-tab">
                    &nbsp;
                </td>
                <td id="tabs" align="center">
            
                    <table id="table-tabs" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class='selected'><a href="#springUrl('/adm_ManageReports.do?method=browseReports')">$brander.getBrandElement("lms.reports.summaryReport.caption.summary")</a></td>
            				<td><a href="#springUrl('/adm_ManageReports.do?method=reportFieldMenu')"> $brander.getBrandElement("lms.reports.summaryReport.caption.fields")</a></td>
            				<td id='last'><a href="#springUrl('/adm_ManageReports.do?method=displayReportFilters')"> $brander.getBrandElement("lms.reports.summaryReport.caption.filters")</a></td>
                        </tr>
                    </table>
            
                </td>
            </tr>
                <!-- <LEFT NAGIVATION> -->
            <tr id="main">
                <td id="left-navigation"  valign="top">
		            <div id="sidebar-scroller" style="overflow:hidden">
                        #parse("snippets/reportLeftMenu.vm")
                    </div>
				 </td>


            	 <!-- </LEFT NAGIVATION> -->
            	 <td id="content">
            	 <!-- </LMS SEARCH> -->
            	 <div id="scrollable">
                    #set($ssn=$!{request.getSession(true)})
                    #set($sDirection = $ssn.getAttribute("errorOnPerformanceReport"))
                    #if($sDirection)
                    <!-- error-box -->
                    <div id="message_box" style="float:left;">
                        <img id="close_message" style="float:right;cursor:pointer"  src="$brander.getBrandElement("lms.errorMessage.pixel.12-em-cross.png")" />
                        #if($sDirection)
                            <div class="width40pct">
                                <div class="message_box_align"><img src="$brander.getBrandElement("lms.errorMessage.pixel.addLearner_06.gif")" width="14" height="14" alt="" /></div>
                                <div class="message_box_align">$brander.getBrandElement($sDirection)</div>
                            </div>
                        #end
                        $ssn.setAttribute("errorOnPerformanceReport", null)
                    </div>
                    #end
                    <!-- error-box -->
            	    
                            <input type="hidden" name="method" value="" >
                            <!-- Logo+Manage-User -->
                            <div class="page_description" id="pageDescription">
                                    <!-- Page Icon -->
                                    <!-- Page Heading -->
            						#if($null.isNull($currentReport)) <!-- Do Nothing -->
										
            						#else
            						<div style="float: right; padding-top: 20px;" class="wizard-left-button">
                                      <a style="text-decoration:none;" onclick="submitLogoContainer('selectReportForEdit');">
                                            <div class="btn_start"></div>
                                            <div class="btn_normal">$brander.getBrandElement("lms.reports.summaryReport.save.copy.and.edit")</div>
                                            <div class="btn_end"></div>
                                        </a>
                                        <img style="cursor:pointer;" onClick="submitLogoContainer('setFavouriteReport');" #if($currentReport.favorite) src="brands/default/en/images/star-acti.gif" title="$brander.getBrandElement("lms.reports.summaryReport.title.favouriteRemove")"/> #else src="brands/default/en/images/star-inacti.gif" title="$brander.getBrandElement("lms.reports.summaryReport.title.favouriteAdd")"/>#end
                                    </div>
            						#end
            						 <!-- Page Title & Description -->
                        			 <div style="margin-bottom: 20px; margin-top:15px;"  class="reportLogo" id="pageIcon"></div>
                                    <div id="titleHolder" class="courseTitle1" > $brander.getBrandElement("lms.reports.summaryReport.topHeading")</div>
                                   <div id="detailsHolder">$brander.getBrandElement("lms.reports.summaryReport.description")</div>
                                </div>
            					 <!-- Logo+Manage-User ends-->


						<!-- User-profile -->
						#if($null.isNull($currentReport))
    						<div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.content-Block")">
    							No Reports Found
    						</div>
                        #else
						
						<div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.content-Block")">
							<div id="e7a" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.Block-Contain-header")">
								<div id="e8" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.Search-Containerheaderleft")">$currentReport.title</div>
							</div>
                                                        #if($currentReport.getSqlTemplateUri().equals("vm/reportsql/admin_customersreport.vm"))
                                                            <input type="hidden" id="startDate" name="startDate" value="" >
                                                            <input type="hidden" id="endDate" name="endDate" value="" >
                                                            <!-- Add mandatory Date Filter to Learner Performance by Course report -->
                                                            <table border="0">
                                                                <tr>
                                                                    <td colspan="2" style="padding-left:15px">
                                                                        <b>$brander.getBrandElement("lms.proctor.proctorCompletionCertificates.caption.dateRange") :</b>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding-left:15px">
                                                                        $brander.getBrandElement("lms.enrollment.swapEnrollments.caption.startDate")
                                                                    </td>
                                                                    <td style="padding-left:15px">
                                                                        <input type="text" class="input_field"  date:closeAtTop="false" date:buttonText="$brander.getBrandElement("lms.manager.addLearner.calender.tooltip")" onKeyPress="if(event.keyCode==13){doSearch();}" style="font-size:9px; float:left; margin-right:5px; width:170px;" name="txtStartDate" id="txtStartDate" />
                                                                        <script type="text/javascript">
                                                                            $("#txtStartDate").datepicker({
                                                                                showOn: "both",
                                                                                buttonImage: "$brander.getBrandElement("lms.pixel.iconCalenderGif")",
                                                                                buttonImageOnly: true
                                                                            });
                                                                        </script>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td style="padding-left:15px">
                                                                        $brander.getBrandElement("lms.enrollment.swapEnrollments.caption.endDate")
                                                                    </td>
                                                                    <td style="padding-left:15px">
                                                                        <input type="text" class="input_field"  date:closeAtTop="false" date:buttonText="$brander.getBrandElement("lms.manager.addLearner.calender.tooltip")" onKeyPress="if(event.keyCode==13){doSearch();}" style="font-size:9px; float:left; margin-right:5px; width:170px;" name="txtEndDate" id="txtEndDate"/>
                                                                        <script type="text/javascript">
                                                                            $("#txtEndDate").datepicker({
                                                                                showOn: "both",
                                                                                buttonImage: "$brander.getBrandElement("lms.pixel.iconCalenderGif")",
                                                                                buttonImageOnly: true
                                                                            });
                                                                        </script>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        #end
							<!-- User-left-right-list -->
							<div id="e7b" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.Search-inputfield-box4")">
								<!-- s -->
								<div id="e12" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.search-content-row1a")"><!-- using for space --></div>
								<!-- 1 -->
								<div id="e13" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.search-content-row")">
									<div class="">$brander.getBrandElement("lms.reports.summaryReport.caption.table1Description")</div>
								</div>
								<!-- 2 -->
								<div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.manager-bottom-space")"></div>
								<div id="e13" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.search-btn-row")">
									<div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.btn-left2")"><a class="button" onclick="submitLogoContainer('executeReport');"><span class="button">Execute Report</span></a></div>
								</div>
								<!-- 0 -->
								<!-- space -->
								<!-- space -->
							</div>
							<!-- End-User-left-right-list -->
						</div>
						<!-- User-profile-end -->
						#end
						<!-- space -->
						<div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.manager-bottom-space")"></div>
						<!-- space -->
						
						#set($lastExecutionSummary=$reportForm.getCurrentReportLastExecutionSummary())
						#if($null.isNull($lastExecutionSummary))
							<!-- No Execution Summary -->
						#else
							<!-- User-profile -->
							<div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.content-Block")">
								<div id="e7a" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.Block-Contain-header")">
									<div id="e8" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.Search-Containerheaderleft")">$brander.getBrandElement("lms.reports.summaryReport.caption.table2ViewResults") |<span class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.Search-Containerheaderleft3")"> $brander.getBrandElement("lms.reports.summaryReport.caption.table2LastRunOn") $lastExecutionSummary.executionDate</span></div>
								</div>
								<!-- User-left-right-list -->
								<div id="e7b" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.Search-inputfield-box4")">
									<!-- s -->
									<div id="e12" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.search-content-row1a")"><!-- using for space --></div>
									<!-- 1 -->
									<div id="e13" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.search-content-row")">
										<div class="">$brander.getBrandElement("lms.reports.summaryReport.caption.table2Description")</div>
									</div>
									<!-- 2 -->
									<div id="e13" class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.search-btn-row")">
										<div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.btn-left2")"><img onClick="submitLogoContainer('displayReportResultsHTML');" src="brands/default/en/images/ico-html.gif" width="35" height="41" alt="" /></div>
										<div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.btn-left2a")">$brander.getBrandElement("lms.reports.summaryReport.caption.table2HTML")</div>
										<div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.btn-left2")"><img onClick="submitLogoContainer('displayReportResultsCSV');" src="brands/default/en/images/ico-excel.gif" width="35" height="41" alt="" /></div>
										<div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.btn-left2a")">$brander.getBrandElement("lms.reports.summaryReport.caption.table2EXCEL")</div>
									</div>
									<!-- 0 -->
									<!-- space -->
									<div class="$brander.getBrandElement("lms.reports.summaryReport.cssClass.manager-bottom-space")"></div>
									<!-- space -->
								</div>
								<!-- End-User-left-right-list -->
							</div>
							<!-- User-profile-end -->
							<!-- space -->
							<div class="manager-bottom-space"> </div>
							<!-- space -->
						#end
						</div><!-- for center-align-div -->
				 </td>
			</tr>
			<!-- content-area-end -->			
			
		

			<!-- </BOTTOM CONTROLS> -->


			<tr> <!-- Footer BLOCK -->
				<td id="footer" colspan="2">
                    <!-- footer -->
                    #if($userData.isLMSAdministrator() && $adminCurrentMode == 'ROLE_LMSADMINISTRATOR')
                        #parse("snippets/adminFooter.vm")
                    #else
                        #parse("snippets/managerFooter.vm")
                    #end  
                	<!-- footer-end -->
				</td>
			</tr>
        </table>
        </form>
    </body>

</html>